.select {
    position: relative;
}

.list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-white);
    border: var(--border);
    border-radius: rem(5);
    overflow: hidden;
    transition-duration: var(--transition-duration);
}

.item {
    display: flex;
}

.option {
    display: flex;
    width: 100%;
    padding: rem(12);
    background-color: transparent;
    color: var(--color-black);
    border: none;

    &:hover {
        background-color: var(--color-gray-1);
    }

    &:disabled {
        pointer-events: none;
        background-color: var(--color-accent-2);
        color: var(--color-white);
    }
}