.field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: rem(4);
}

.input {
    width: 100%;
    height: var(--input-height);
    padding: rem(12);
    border: var(--border);
    border-radius: var(--border-radius);

    &.isInvalid {
        border-color: red;
    }
}

.error {
    position: absolute;
    top: calc(100% + 2px);
    color: red;
    font-size: rem(10);
}