.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: rem(30);
    background-color: var(--color-white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--color-white);
        opacity: 0;
    }

    &.only {
        width: 35vw;
    }

    &.save {
        &::after {
            animation: scrin 1.4s linear;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    column-gap: rem(30);
    padding-bottom: rem(30);
    border-bottom: var(--border);
}

.avatar {
    width: rem(100);
    height: rem(100);
    border-radius: rem(50);
    object-fit: cover;
    object-position: center;
}

.name {
    display: flex;
    flex-direction: column;
    row-gap: rem(18);
    font-size: 18px;
    overflow: hidden;

    p {
        @include truncate;
    }
}

.main {
    display: flex;
    flex-direction: column;
    padding-top: rem(24);
}

.job {
    display: flex;
    justify-content: space-between;
    padding: rem(9) rem(18);
    background-color: var(--color-gray-2);
    border-radius: 10px;
    overflow: hidden;

    p {
        @include truncate;

        max-width: 40%;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    overflow: hidden;

    p {
        @include truncate;
    }
}

.description {
    flex-grow: 1;
    max-height: rem(100);
    overflow-y: auto;   

    p { 
        white-space: normal;
        word-wrap: break-word;
    }
}